html
  head
    meta(charset="utf-8")
    title GoodTunes - #{title}
    link(rel='stylesheet' href='/stylesheets/navbar.css')
    block head
    block scripts
  body
    div(class='navbar')
      img(class="logo" src="https://i.imgur.com/sf38Uhb.png")
      form(class='albums-page' action='/albums/' method='get')
        button(class='albums-page-button' type='submit') All Albums
      if locals.authenticated
        span(class='navbar-text') Welcome #{user.username}
        form(class='my-page' action=`/shelves/users/${user.id}` method='get')
          button(class='my-collection-button' type='submit') My Collection
        form(class="navbar-logout" action='/users/logout' method='post')
          input(class='logout-button' type='submit' value='Log Out')
      else
        span(class='navbar-nonuser-buttons')
          a(class="login-button" href='/users/login') Login
          a(class="signup-button" href='/users/signup') Sign Up
          form(method='post' action='/users/demo')
            button(class="take-a-tour" type='submit') Take a Tour
    block content

  //-  span(class='navbar-text')
