html
  head
    meta(charset="utf-8")
    title GoodTunes - #{title}
    link(rel='stylesheet' href='/stylesheets/reset.css')
    block scripts
  body
    nav(class='navbar')
      a(class='logo' href='/') GoodTunes
      form(class='albums-page' action='/albums/' method='get')
        button(class='albums-page-button' type='submit') Go to all albums
        if locals.authenticated
          span(class='navbar-text') Welcome #{user.username}
          form(class="navbar-logout" action='/users/logout' method='post')
            button(class='logout-button' type='submit') Logout
          form(class='my-page' action=`/shelves/users/${user.id}` method='get')
            button(class='my-page-button' type='submit') Go to your page
        else
          span(class='navbar-text')
            a(class="login-button" href='/users/login') Login
            a(class="signup-button" href='/users/signup') Sign Up
            a(class='demo-button' href='/users/signup') Take A Tour
    block content
