html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    block content
        button(type="submit") Sign Up
            a(href="/users/signup")
