extends layout.pug

block content
    if errors
        div
            ul
                each error in errors
                    li=error
    form(action="/users/signup" method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        div
            label(for="username") Username
            input(type="text" name="username" )
        div
            label(for="password") Password
            input(type="text" name="password" )
        div
            label(for="confirmPassword") Confirm Password
            input(type="text" name="confirmPassword" )
        div
            button(type="submit") Sign Up
