extends layout.pug
block head
    link(rel="stylesheet", href="/stylesheets/sign-up.css")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
block content
    if errors
     div(class="mainErrContainer")
        div(class="errorsContainer")
            ul(class="errorsUl")
                each error in errors
                    li(class="errorsLi")=error
    div(class='signup-image')
        div(class='signup-container')
            h3 Sign Up
            form(action="/users/signup" method="post")
                input(type="hidden" name="_csrf" value=csrfToken)
                div.username-input
                    label(for="username") Username
                    input(type="text" name="username" )
                div.password-input
                    label(for="password") Password
                    input(type="password" name="password" )
                div.confirmPassword-input
                    label(for="confirmPassword") Confirm Password
                    input(type="password" name="confirmPassword" )
                div
                    button.submit-button(type="submit") Submit
                div.p-container
                    p If you have an account,
                        a(href="/users/login")  Log In
