h1 {
    color: #555555;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: rgb(69, 108, 71);;
}

body {
    background-color: rgb(230, 228, 219);
}

table {
    width: 100%;
    border: 2px solid rgba(232,236,241,1);
    padding: 10px;
    border-collapse: collapse;
    border-spacing: 0 5px;
}

th {
    border-bottom: 2px solid rgba(232,236,241,1);
    border-collapse: collapse;
    padding: 15px;
    background-color: rgb(69, 108, 71);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}

tbody tr {
    border-bottom: 4px solid rgba(195, 26, 222, 0);
    border-top: 4px solid rgba(196,26,222,0);
    background-color: rgb(255, 255, 255);
}

tbody tr:nth-of-type(2n) {
    background-color: rgb(245, 243, 232);
    border-bottom: 4px solid rgba(195, 26, 222, 0);
    border-top: 4px solid rgba(196,26,222,0);
}

td {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 200;
}

a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 200;
}

img {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    /* box-shadow: 0 0 20px 4px rgb(230, 143, 247);, */
}

/* .add-td {
    border: 1px solid black;
} */

form select {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    margin: 10px;
}

form > button {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: center;
}

.bodyContainer {
    display: flex;
    justify-content: space-evenly;
}

.reviewImg {
    height: 100px;
    width: auto;
}

.reviewH3 {
    height: 26px;
    margin-top: -1px;
}

.albumTable {
    width: 60%;
}
