body {
  width: 100%;
  min-height: 100%;
  height: 100vh;
  background-image: url("../../graphics/goodTunesSplashPage.png");
}
.navbar {
  background-color: #2B1F11;
  font-size: 16px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  font-family: 'Poppins', sans-serif;
  padding: 5px;
}

.navbar-nonuser-buttons {
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
}

.login-button {
  color: snow;
  text-decoration: none;
  border: 1px solid snow;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  margin-top: 5px;
}

.signup-button {
  color: snow;
  text-decoration: none;
  border: 1px solid snow;
  margin-left: 5px;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  margin-right: 5px;
}

.take-a-tour {
  background-color: rgb(216,187,166);
  font-size: medium;
  margin-left: 15px;
  font-family: 'Poppins', sans-serif;
  border: 1px solid rgb(82, 79, 79);
  margin-top: 10px;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
}

.logout-button {
  background-color: rgb(225, 199, 165);
  font-size: medium;
  margin-left: 15px;
  font-family: 'Poppins', sans-serif;
  border: 1px solid rgb(82, 79, 79);
  margin-top: 10px;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
}

.my-collection-button {
  background-color: rgb(225, 199, 165);
  font-size: medium;
  margin-left: 15px;
  font-family: 'Poppins', sans-serif;
  border: 1px solid rgb(82, 79, 79);
  margin-top: 10px;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
}

.logo {
  width: 7em;
  height: 4em;
}

.albums-page-button {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(225, 199, 165);
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
}

.navbar-text {
  font-family: 'Poppins', sans-serif;
}
