body {
  background-color: #5B4028;
}
.navbar {
  background-color: #2B1F11;
  width: 100%;
  font-size: 16px;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  /* display: flex;
  justify-content: space-between;
  align-content: space-around; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 100px;
  grid-template-rows: 1fr;
  grid-template-areas:
  "logo directory welcome collection logOut"
}

.navbar-nonuser-buttons {
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
}

.login-button {
  background-color: rgb(225, 199, 165);
  font-size: medium;
  font-family: 'Poppins', sans-serif;
  border: 1px solid rgb(82, 79, 79);
  margin-top: 10px;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  /* color: snow;
  text-decoration: none;
  border: 1px solid snow;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  margin-top: 5px;
  grid-area: logOut; */
}

.signup-button {
  background-color: rgb(225, 199, 165);
  margin-left: 150px;
  font-size: medium;
  font-family: 'Poppins', sans-serif;
  border: 1px solid rgb(82, 79, 79);
  margin-top: 10px;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  /* color: snow;
  text-decoration: none;
  border: 1px solid snow;
  margin-left: 5px;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  margin-right: 5px;
  grid-area: collection; */
}

.take-a-tour {
  background-color: rgb(216,187,166);
  font-size: medium;
  margin-left: 15px;
  font-family: 'Poppins', sans-serif;
  border: 1px solid rgb(82, 79, 79);
  margin-top: 10px;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  grid-area: welcome;
}

.logout-button {
  background-color: rgb(225, 199, 165);
  font-size: medium;
  /* margin-left: 125px; */
  font-family: 'Poppins', sans-serif;
  border: 1px solid rgb(82, 79, 79);
  margin-top: 10px;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  grid-area: logOut;
}

.my-collection-button {
  background-color: rgb(225, 199, 165);
  font-size: medium;
  margin-left: 130px;
  font-family: 'Poppins', sans-serif;
  border: 1px solid rgb(82, 79, 79);
  margin-top: 10px;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  grid-area: collection;
}

.logo {
  width: 7em;
  height: 4em;
  grid-area: logo;
}

.albums-page-button {
  background-color: rgb(225, 199, 165);
  font-size: medium;
  font-family: 'Poppins', sans-serif;
  border: 1px solid rgb(82, 79, 79);
  margin-top: 10px;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  /* font-family: 'Poppins', sans-serif;
  background-color: rgb(225, 199, 165);
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  margin-top: 12px; */
  grid-area: albums;
}

.navbar-text {
  font-family: 'Poppins', sans-serif;
}
