body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: rgb(108, 3, 3);
  width: 100%;
  font-size: 16px;
  color: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "left mid right"; */
  /* position: relative; */
}

.login-button {
  background-color: ivory;
  font-size: medium;
  font-family: 'Poppins', sans-serif;
  border: 1px solid rgb(82, 79, 79);
  margin-top: 10px;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  /* color: snow;
  text-decoration: none;
  border: 1px solid snow;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  margin-top: 5px;*/
  /* grid-area: right; */
  margin-left: 10px;
  white-space: nowrap;
}

.signup-button {
  background-color: ivory;
  margin-left: 150px;
  font-size: medium;
  font-family: 'Poppins', sans-serif;
  border: 1px solid rgb(82, 79, 79);
  margin-top: 10px;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  /* color: snow;
  text-decoration: none;
  border: 1px solid snow;
  margin-left: 5px;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  margin-right: 5px; */
  /* grid-area: right; */
  white-space: nowrap;
}

.take-a-tour {
  background-color: ivory;
  font-size: medium;
  margin-left: 15px;
  font-family: 'Poppins', sans-serif;
  border: 1px solid rgb(82, 79, 79);
  margin-top: 10px;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  /* grid-area: right; */
  white-space: nowrap;
}

.logout-button {
  background-color: ivory;
  font-size: medium;
  /* margin-left: 125px; */
  font-family: 'Poppins', sans-serif;
  border: 1px solid rgb(82, 79, 79);
  margin-top: 10px;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  /* grid-area: right; */
  margin-left: 10px;
  white-space: nowrap;
}

.my-collection-button {
  background-color: ivory;
  font-size: medium;
  margin-left: 75px;
  font-family: 'Poppins', sans-serif;
  border: 1px solid rgb(82, 79, 79);
  margin-top: 10px;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  white-space: nowrap;
  /* grid-area: right; */
}

.logo {
  width: 112px;
  height: 64px;
  grid-area: left;
  box-sizing: border-box;
  position: relative;
  margin-top: 0px;
  margin-left: 35px;
}

.albums-page-button {
  background-color: ivory;
  font-size: medium;
  font-family: 'Poppins', sans-serif;
  border: 1px solid rgb(82, 79, 79);
  margin-top: 10px;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  /* font-family: 'Poppins', sans-serif;
  background-color: rgb(225, 199, 165);
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  margin-top: 12px; */
  /* grid-area: left; */
  margin-left: 45px;
  white-space: nowrap;
}

.navbar-text {
  font-family: 'Poppins', sans-serif;
  font-size: x-large;
  font-weight: lighter;
  white-space: nowrap;
}

.left-navbar {
    display:flex;
    justify-content: left;
    align-items:center;
    width: 365px;
}

.middle-navbar {
    display: flex;
    justify-content: center;
    align-items:center;
}

.right-navbar {
    display: flex;
    justify-content: right;
    align-items:center;
    padding-right: 65px;
    width: 310px;
}

.user-buttons {
  padding-right: 55px;
}



/* .right-navbar-nonuser {
    margin-left: 55px;
} */

.left-navbar a {
    width: 113px;
    height: 65px;
}

.search form{
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.searchInput {
  border-radius: 20px;
  padding: 10px;
}

/* .searchButton {
  border-radius: 19px;
  margin-left: -28px;
  background-color: ivory;
  font-size: 20px;
} */
