*{
    font-family: 'Poppins', sans-serif
}

body{
    background-color:#302f2f ;
}



.title{
    display: flex;
    justify-content: center;
    color: ivory;
}

.imgContainer{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    /* align-items: center; */
}

.reviewForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviewComment{
    color: black;
    margin-top: -10px;
}

.reviewImg{
    border: 1px solid white;
}

.reviewContainer{
    width: 300px;
    height: 350px;
    border: 5px solid black;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: ivory;
}

.addReview{
    color: black;
    display:flex;
    justify-content: center;
    padding-bottom: 30px;
    text-decoration: underline;

}
.reviewArena{
   width: 225px;
   height: 90px;
   color: black;

}


.reviewRating{
    color: black;
    margin-top: 10px;
}

.reviewLabel{
    color: black;
    margin-top: 10px;
}

.reviewInput{
    color: black;
}

.reviewButton{
    color: black;
}
.mainErrorsContainer{
    /* display: flex;
    justify-content: center; */
}

.errorsContainer{
    width: 200px;
    /* display: flex; */
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(108, 3, 3);
    border: 3px solid black;
    margin-top: 5px;
    margin-bottom: 10px;
}

.errorsUl{
    color: ivory;
}

.errorsLi{
    color: ivory;
}
