h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
    color: ivory;
}

body {
    background-color: #302f2f;
}

table {
    width: 100%;
    border: 2px solid rgba(232,236,241,1);
    padding: 10px;
    border-collapse: collapse;
    border-spacing: 0 5px;
}

th {
    border-bottom: 2px solid rgba(232,236,241,1);
    border-collapse: collapse;
    padding: 15px;
    background-color: rgb(108, 3, 3);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
}

tbody tr {
    border-bottom: 4px solid rgba(195, 26, 222, 0);
    border-top: 4px solid rgba(196,26,222,0);
    background-color: rgb(255, 255, 255);
}

tbody tr:nth-of-type(2n) {
    background-color: rgb(245, 243, 232);
    border-bottom: 4px solid rgba(195, 26, 222, 0);
    border-top: 4px solid rgba(196,26,222,0);
}

td {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 200;
}

a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 200;
}

img {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    /* box-shadow: 0 0 20px 4px rgb(230, 143, 247);, */
}

button {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}


.shelfNameLabel {
    color: ivory;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.shelfNameInput {
    margin-left: 10px;
    margin-right: 10px;
}

.shelfNameButton {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    text-align: center;
    background-color: ivory;
}

.createShelfForm {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.myShelf {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: ivory;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
}

.shelfItems{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.shelfATag {
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.deleteShelfButton {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    border-radius: 20px;
    padding: 5px 12px 5px 12px;
    text-align: center;
    background-color: ivory;
    margin-top: 5px;
}
